{% extends "base.html" %}

{% block content %}
    <h1>Get It Done!</h1>
    <h4>{{success}}</h4>
    <form method='post'>
        <label>
            New Task:
            <input type="text" name='task' />
        </label>
        <input type="submit" value='Add Task' />
    </form>

    <hr />

    {% if tasks|length == 0 %}
    <p>No tasks on your list to complete</p>
    <hr>
    <h2>Completed</h2>
    <ul>
      {% for task in completed_tasks %}
      <li>{{task.name}}</li>
      {% endfor %}
    </ul>
    
    {% else %}

        <ul>
            {% for task in tasks %}
            <li>{{task.name}}
              <form method="POST" action="/delete-task" style="display:inline-block;">
                <!-- input value is populated by task option id -->
                <input type="hidden" name="task-id" value="{{task.id}}" />
                <input type="submit" value="Complete" />
              </form>
            </li>
            {% endfor %}
        </ul>

        <hr>
        <h2>Completed</h2>
        <ul>
          {% for task in completed_tasks %}
          <li>{{task.name}}</li>
          {% endfor %}
        </ul>


    {% endif %}
{% endblock %}
